/*  your css code here. If applicable */
.body{
	background-color:  #f5f5f5;
}

.header{
	background-color: #011e29;
	color: white;
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}

.container{
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 0 20px;
	margin-bottom: 20px;
}

.latest-news-section{
	background-color: white;
	width: 30%;
	padding: 20px;
	height: 50vh;
	border-radius:10px;
}

.latest-news-section li{
	text-align: center;
}
.main-article{
	background-color: white;
	width: 40%;
	padding: 20px;
	text-align: center;
	border-radius: 10px
}

.pictorial-news-selection{
	background-color: white;
	width: 60%;
	padding: 20px;
	text-align: center;
}

.pictorial-news-selection img{
	width: 100%;
}